lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

tmp
pids
logs
results

node/public/chapter_frontend.js
node/chapter_node.js

npm-debug.log
node_modules/*
authenticator/node_modules/*
authenticator/package-lock.json
node/frames.js
nginx/dhparams.pem
